In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
from numpy import int64
from google.colab import files
  
uploaded = files.upload()

vine_df = pd.read_csv("vine_table.csv")
vine_df.dtypes


vine_df.head()

Saving vine_table.csv to vine_table (12).csv

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RSH1OZ87OYK92,2,2,3,N,N
1,R1WFOQ3N9BO65I,5,0,0,N,Y
2,R3YOOS71KM5M9,5,0,0,N,Y
3,R3R14UATT3OUFU,5,0,0,N,Y
4,RV2W9SGDNQA2C,5,0,0,N,Y

In [3]:
vine_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145431 entries, 0 to 145430
Data columns (total 6 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   review_id          145431 non-null  object
 1   star_rating        145431 non-null  int64
 2   helpful_votes      145431 non-null  int64
 3   total_votes        145431 non-null  int64
 4   vine               145431 non-null  object
 5   verified_purchase  145431 non-null  object
dtypes: int64(3), object(3)
memory usage: 6.7+ MB

## Filter by total votes

In [4]:
filtered_vine_df = vine_df[vine_df['total_votes'] >= 20]
filtered_vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
278,RV4UH0OWW97K4,5,19,22,N,N
859,RG6GT6G9WNYT1,5,22,22,N,N
924,RFBXE3Q3GYQYO,5,68,70,N,Y
1436,R17V95WYC9ZXDD,1,0,20,N,Y
1594,R235HEIYY15NZX,1,0,26,N,Y

## Find most helpful reviews

To retrieve all the rows where the number of helpful_votes divided by total_votes is equal to or greater than 50%

In [5]:
new_vine_df = filtered_vine_df.loc[filtered_vine_df.helpful_votes / filtered_vine_df.total_votes >= 0.5]
new_vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
278,RV4UH0OWW97K4,5,19,22,N,N
859,RG6GT6G9WNYT1,5,22,22,N,N
924,RFBXE3Q3GYQYO,5,68,70,N,Y
1662,R34S64NPUZOS90,5,23,24,N,N
1816,R35O3GV3HZUX8B,5,58,63,N,N

## Reviews written as part of the vine program

In [13]:
vine_reviews = new_vine_df[new_vine_df['vine'] == 'Y']
vine_reviews.head()

Empty DataFrame
Columns: [review_id, star_rating, helpful_votes, total_votes, vine, verified_purchase]
Index: []

## Reviews NOT written as part of the vine program

In [7]:
not_vine_reviews = new_vine_df[new_vine_df['vine'] == 'N']
not_vine_reviews.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
278,RV4UH0OWW97K4,5,19,22,N,N
859,RG6GT6G9WNYT1,5,22,22,N,N
924,RFBXE3Q3GYQYO,5,68,70,N,Y
1662,R34S64NPUZOS90,5,23,24,N,N
1816,R35O3GV3HZUX8B,5,58,63,N,N

## 5-Star Review Analysis
Comparing the vine and non-vine program

In [14]:
count_vine = len(vine_reviews)
count_vine

0

In [15]:
count_nonvine = len(not_vine_reviews)
count_nonvine

1685

Out of all the reviews, there were __ paid-vine reviews and ____ unpaid reviews.

In [16]:
max_rating_vine = len(vine_reviews[vine_reviews['star_rating']==5])
max_rating_vine

0

In [11]:
max_rating_nonvine = len(not_vine_reviews[not_vine_reviews['star_rating']==5])
max_rating_nonvine

631

Out of those reviews, 15 of the vine reviews were 5 star and 23,733 were non-paid and 5 star

## 5-Star Review percentage by program

5-star Reviews:

In [12]:
max_rating_vine/count_vine

ZeroDivisionError: ignored

In [ ]:
max_rating_nonvine/count_nonvine

Percentage of 5-star Reviews:

In [ ]:
round(vine_reviews['star_rating'].mean(),2)

In [ ]:
round(not_vine_reviews['star_rating'].mean(),2)